Roto.pro.user
*.user
*.obj
*.lib
*.dll
*.exp
*.ilk
*.pdb
*.exe
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.png
*.txt
*.zip
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/release/moc_mainwindow.cpp
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/release/moc_predefs.h
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/release/moc_radialprofiler.cpp
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/release/moc_resizewindow.cpp
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/release/moc_screenrender.cpp
Roto/Roto.pro
Roto/Roto.pro
*.pro
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/debug/moc_screenrender.cpp
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/debug/moc_radialprofiler.cpp
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/debug/moc_mainwindow.cpp
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/debug/moc_predefs.h
build-Roto-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/debug/moc_resizewindow.cpp
